<!DOCTYPE html>
<html>
  <head>
    <title>Salary Management</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <link rel="stylesheet" href="/assets/application.tailwind.css" data-turbo-track="reload">
    <script type="module" src="/assets/application.js" data-turbo-track="reload"></script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>